<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>商品列表</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.min.css" />
</head>
<body>
<!-- 导航栏部分 -->
<div th:replace="common::head_column"/>
<!-- 页面部分 -->
<div class="row">
    <div th:replace="common::left_column"/>
    <div class="col-sm-10">
        <div class="bread-crumb">
            <ul class="breadcrumb">
                <li><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;<a href="/">首页</a></li>
                <li>积分管理</li>
                <li>商品列表</li>
            </ul>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <a class="panel-title">商品列表</a>
            </div>
            <div class="panel-body">
                <div class="pull right">
                    <a href="/manage/point/item/list/all">查看全部商品</a>&nbsp;&nbsp;
                    <a href="/manage/point/item/list/online">查看在线商品</a>&nbsp;&nbsp;
                    <a href="/manage/point/item/list/offline">查看下线商品</a>&nbsp;&nbsp;
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover" id="cate_table">
                    <thead>
                    <tr>
                        <th>展示顺序</th>
                        <th>名称</th>
                        <th>兑换积分</th>
                        <th>库存</th>
                        <th>已兑换</th>
                        <th>剩余</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, itemStatus : ${pageList}" th:style="'color:#' + ${item.color}">
                        <td th:text="${item.sequence}">id</td>
                        <td th:text="${item.name}">名称</td>
                        <td th:text="${item.point}">兑换积分</td>
                        <td th:text="${item.stock}">剩余数量</td>
                        <td th:text="${item.sold}">库存</td>
                        <td><a href="javascript:void(0)" th:text="${item.amount}">剩余数量</a></td>
                        <td th:text="${item.statusStr}">状态</td>
                        <td>
                            <a th:href="'/manage/point/item/' + ${item.id} + '/edit'">修改信息</a>&nbsp;&nbsp;
                            <a th:href="'/manage/point/item/' + ${item.id} + '/picture/list'">管理图片</a>&nbsp;&nbsp;
                            <a href="javascript:void(0)" th:onclick="toggleItem([[${item.statusToggle}]], [[${item.toggleUrl}]], [[${item.id}]])" th:text="${item.statusToggle}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel-body" style="margin:-5px 0">
                <a href="../create">添加一个商品</a>
            </div>


            <div class="panel-body" style="margin:-5px 0">
                <div class="col-sm-6 pull-left">
                    共&nbsp;<span th:text="${list.totalElements}"/>&nbsp;条记录&nbsp;&nbsp;
                    第&nbsp;<span th:text="${list.getNumber()+1}"></span>/<span th:text="${list.getTotalPages()}">&nbsp;</span>页
                </div>
            </div>

            <div class="modal-footer no-margin-top">
                <ul class="pagination nav navbar-nav navbar-left">
                    <!-- 首页 -->
                    <li>
                        <a th:href="'/manage/point/item/list/' + ${path}">首页</a>
                    </li>
                    <!-- 上一页 -->
                    <li th:if="${list.hasPrevious()}">
                        <a th:href="'/manage/point/item/list/' + ${path} + '/' + ${list.previousPageable().getPageNumber()+1}">上一页</a>
                    </li>
                    <!-- 下一页 -->
                    <li th:if="${list.hasNext()}">
                        <a th:href="'/manage/point/item/list/' + ${path} + '/' +  ${list.nextPageable().getPageNumber()+1}">下一页</a>
                    </li>
                    <!-- 尾页 -->
                    <li th:if="${list.getTotalPages()>1}">
                        <a th:href="'/manage/point/item/list/' + ${path} + '/' +  ${list.getTotalPages()}">尾页</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div th:replace="common::alert_div"/>
<script th:replace="script"/>
<script type="text/javascript">
    $(document).ready(function(){
        $("#collapseC").collapse();
    });

    function toggleItem(op, url, id) {
        if(!confirm('确定要' + op + '这个商品吗？')) {
            return;
        }
        $.post('/manage/point/item/' + id + '/status/' + url,function(result){
            if(result.code==0) {
                alert(op + '成功');
                window.location.reload();
            } else {
                alert(op + '失败，请联系管理员');
            }
        });
    }
</script>
</body>
</html>